<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.swift</string>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>An empty Interface Builder Storyboard document for a macOS interface.</string>
	<key>Summary</key>
	<string>An empty Interface Builder Storyboard document for a macOS interface.</string>
	<key>Icon</key>
	<string>TemplateIcon</string>
	<key>Title</key>
	<string>iOS UIViewController Template</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>ClassName:</string>
			<key>Description</key>
			<string>The name of the view controller to create</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>ViewController</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>viewClass</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Subclass of:</string>
			<key>Description</key>
			<string>What class to subclass in the new file</string>
			<key>Type</key>
			<string>popup</string>
			<key>Values</key>
			<array>
				<string>UIViewController</string>
				<string>UITableViewCell</string>
				<string>UICollectionViewCell</string>
				<string>UICollectionReusableView</string>
			</array>
			<key>Suffixes</key>
			<dict>
				<key>UIViewController</key>
				<string>ViewController</string>
				<key>UITableViewCell</key>
				<string>TableViewCell</string>
				<key>UICollectionViewCell</key>
				<string>CollectionViewCell</string>
				<key>UICollectionReusableView</key>
				<string>ReusableView</string>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>Dependency</string>
			<key>Name</key>
			<string>Also add &quot;inject dependency template&quot;</string>
			<key>Description</key>
			<string>Need to pass an instance when generating the view?</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>RequiredOptions</key>
			<true/>
			<key>Default</key>
			<string>false</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
